{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "next",
    "next/core-web-vitals"
  ],
  "rules": { "react/jsx-props-no-spreading": 0 }
}
